# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

loaders/1.20.6-forge/run/
loaders/b1.7.3-stationapi/run/

# Remove the following line to remove server.properties from your project.
!server.properties

log.log
